body{
  background: #CE6010;
  background-image: url("garden7.jpg");
  background-size: contain;
 }

.titel{
   background: linear-gradient(135deg , orange, brown, orange, brown, orange);
   color: blue;
   font-family: 'Pacifico';
   font-size: 48px;
   text-shadow: 4px 4px 5px black;
   border-style: solid ;
   border-color: black;
   border-width: 5px;
   border-radius: 20px 20px 20px 20px;
   margin: 20px;
   padding: 20px;
   transition-property: font-size, color, text-shadow;
   transition-duration: 2s;
   transition-timing-function: linear;
   transition-delay: 0.5;
   perspective: 20rem;
}

.titel:hover{
   font-size: 65px;
   text-shadow: 30px 30px 10px black;
   color: red;
   }

.titelfoto{
    transform: rotateX(50deg);
    transform: rotateY(285deg);
    float: right;
    }

nav
     {
       background: linear-gradient(135deg , orange, brown, orange, brown, orange);
       font-family: 'Pacifico';
       font-size: 32px;
       font-weight: bold;
       border-style: solid ;
       border-color: black;
       border-width: 5px;
       border-radius: 20px 20px 20px 20px;
       margin: 20px;
       padding: 20px;
     }

h1 {
          background: #E03000;
          color: blue;
          font-family: sans-serif;
          border-style: solid ;
          border-color: black;
          border-width: 5px;
          border-radius: 20px 20px 20px 20px;
          margin: 20px;
          padding: 20px;
        }

h2 {
      background:  #F05000;
      color: yellow;
      font-family: sans-serif;
      text-shadow: 3px 3px 4px black;
      border-style: solid ;
      border-color: black;
      border-width: 5px;
      border-radius: 10px 10px 10px 10px;
      margin: 20px;
      padding: 20px;
    }

a:hover{
      color: yellow;
      }

.omschrijving {
  background: #FF7F00;
  width: 600px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-style: solid ;
  border-color: black;
  border-width: 5px;
  border-radius: 10px 50px;
  text-align:justify;
  box-shadow: 20px 20px 100px 15px black;
}

.plantfoto {
  margin-left: 20px;
  padding: 10px;
  height: 33%;
  width: 33%;
  float: right;
  transition-property: width;
  transition-duration: 5s;
  transition-timing-function: ease;
  transition-delay: 0.5s
}

.plantfoto:hover{
  height: 75%;
  width: 75%;
}

form{
    background: #FF7F00;
    padding: 15px;
    border-style: solid ;
    border-color: black;
    border-width: 5px;
    border-radius: 10px ;
   }


@media (max-width: 1000px){
   .titel {
     background: #CE6010;
     color: blue;
     font-family: 'Helvetica';
     font-size: 24px;
     text-shadow: none;
     border-style: solid ;
     border-color: black;
     border-width: 5px;
     border-radius: 20px 20px 20px 20px;
     margin: 20px;
     padding: 20px;
     transition-property: none;
   }

   .titel:hover{
      font-size: 24px;
      text-shadow: none;
      color: red;
      }

   body{
     background: black;
   }

   nav
   {
     background: linear-gradient(135deg , orange, brown, orange, brown, orange);
     font-family: 'Helvetica';
     font-size: 20px;
     border-style: solid ;
     border-color: black;
     border-width: 5px;
     border-radius: 20px 20px 20px 20px;
     margin: 20px;
     padding: 20px;
   }

   .omschrijving {
     background: #FF7F00;
     width: 600px;
     margin-left: 100px;
     margin-top: 20px;
     margin-bottom: 20px;
     font-family: 'Helvetica';
     padding: 15px;
     border-style: solid ;
     border-color: black;
     border-width: 5px;
     border-radius: 10px 50px;
     text-align:justify;
     box-shadow: 20px 20px 100px 15px black;
   }
 }
